body {
  font-family: "Times New Roman", Times, serif; /* Change font to Times New Roman */
  margin: 0;
}

.navbar {
  background-color: #FEFED1; /* Change background color to #FEFED1 */
  overflow: hidden;
}

.navbar button {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #ddd;
}

.divider {
  border: 0;
  height: 1px;
  background-color: #999;
  margin: 0;
}
